.resumo{
	text-align: center;
	text-indent: 0px;
}

#image1 {
	width: 90%;
  	margin-left: 5%;
 	margin-right: 5%;
}
#image2 {
	width: 50%;
	margin-left: 25%;
	margin-right: 20%;
}





